<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Market\GiftCard\Api\Data\GiftCardInterface" type="Market\GiftCard\Model\GiftCard" />
    <preference for="Market\GiftCard\Api\Data\GiftCardUsageInterface" type="Market\GiftCard\Model\GiftCardUsage" />

</config>
