<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Market\GiftCard\Api\Data\GiftCardInterface" type="Market\GiftCard\Model\GiftCard" />
    <preference for="Market\GiftCard\Api\Data\GiftCardUsageInterface" type="Market\GiftCard\Model\GiftCardUsage" />

    <preference for="Market\GiftCard\Api\GiftCardRepositoryInterface" type="Market\GiftCard\Model\GiftCardRepository" />
    <preference for="Market\GiftCard\Api\GiftCardUsageRepositoryInterface" type="Market\GiftCard\Model\GiftCardUsageRepository" />
    <preference for="Market\GiftCard\Api\Data\GiftCardSearchResultsInterface" type="Market\GiftCard\Model\GiftCardSearchResults" />
    <preference for="Market\GiftCard\Api\Data\GiftCardUsageSearchResultsInterface" type="Market\GiftCard\Model\GiftCardUsageSearchResults" />


    <virtualType name="Market\GiftCars\Model\ResourceModel\Product\Indexer\Price\GiftCardProductPrice"
                 type="Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\SimpleProductPrice">
        <arguments>
            <argument name="productType" xsi:type="const">Market\GiftCard\Model\Type\GiftCard::TYPE_CODE</argument>
        </arguments>
    </virtualType>
</config>
